node_modules/

uploads/articulos/**.jpg
uploads/articulos/**.png
uploads/articulos/**.gif

uploads/leyes/**.jpg
uploads/leyes/**.png
uploads/leyes/**.gif

uploads/usuarios/**.jpg
uploads/usuarios/**.png
uploads/usuarios/**.gif